{
  "extends": [
    "eslint:recommended",
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:astro/recommended"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "extraFileExtensions": [".astro"],
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "eol-last": ["error", "always"]
  }
}
