---
const telegramLink = "https://t.me/Migranovap";
const currentYear = new Date().getFullYear();
---

<footer class="bg-primary py-[7.5rem] md:py-[5rem]">
  <div class="mx-auto px-4 max-w-[75rem]">
    <div class="flex flex-row justify-between items-center text-[1.5rem] md:text-[1rem] text-white/70 border-t border-white/10 pt-[2rem] md:pt-[1.5rem] gap-[1rem] md:gap-0">
      <div class="font-onest">
        <div class="font-normal">Полина Мигранова</div>
        <div class="font-thin">{currentYear} г.</div>
      </div>
      <div class="font-thin">
        <a 
          href="/privacy" 
          class="hover:text-white transition-colors duration-300 decoration-white/30 hover:decoration-white"
        >
          <div>Политика</div>
          <div>конфиденциальности</div>
        </a>
      </div>
    </div>
  </div>
</footer>